p
    color: $clr-light-text

    &:hover
        color: $clr-light-text-hover

    &.dark-mode
        color: $clr-dark-text
   
        &:hover
            color: $clr-dark-text-hover

a
    color: $clr-light-text
    text-decoration: none

    &:hover
        color: $clr-light-text-hover

    &.dark-mode
        color: $clr-dark-text
   
        &:hover
            color: $clr-dark-text-hover